<header class="header">
    <div class="header__img-box">
        <img class="header__img-box__img" src="imgs/botao-play.png" alt="">
    </div>
    <div class="header__nav-box">
        <ul class="nav-box__list">
            <li>Treinamento</li>
            <li>Teste</li>
        </ul>
    </div>
</header>